<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/script.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>

<nav class="navbar" >
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li class='dropdown'><a href='#'>Rest Requests<span class='fa fa-angle-down'></span></a>
          <ul class="dropdown-restlist">
              <li><a href="/rest/get">Get Request</a></li>
              <li><a href="/rest/post">Post Request</a></li>
              <li><a href="/rest/put">Put Request</a></li>
              <li><a href="/rest/delete">Delete Request</a></li>
          </ul>
      </li>
    </ul>
</nav>

</body>
</html>
